@font-face {
  font-family: chalkDusterFont;
  src: url(./fonts/chalkdust/ChalkDust.ttf);
}
* {
  margin: 0;
  padding: 0;
}

body {
  background: url(images/chalkboard_texture_mc2015_by_mattiamc_d8dbnac-fullview.jpg);
}

nav {
  display: flex;
  justify-content: center;
  height: 100px;
  margin-top: 15px;
}
nav h1 {
  font-size: 85px;
  font-family: chalkDusterFont;
  color: whitesmoke;
  padding: 10px;
  border-radius: 10px;
}

#game-area {
  width: 100vw;
  height: 40vh;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
}
#game-area #bottomBase {
  background: url(images/chalkboard_texture_mc2015_by_mattiamc_d8dbnac-fullview.jpg);
  width: 140px;
  height: 15px;
  position: absolute;
  left: 140px;
  top: 360px;
}
#game-area #stand {
  background: url(images/chalkboard_texture_mc2015_by_mattiamc_d8dbnac-fullview.jpg);
  width: 15px;
  height: 330px;
  position: absolute;
  left: 205px;
  top: 30px;
}
#game-area #topOfStand {
  background: url(images/chalkboard_texture_mc2015_by_mattiamc_d8dbnac-fullview.jpg);
  width: 240px;
  height: 15px;
  position: absolute;
  left: 165px;
  top: 35px;
}
#game-area #noose {
  background: url(images/chalkboard_texture_mc2015_by_mattiamc_d8dbnac-fullview.jpg);
  width: 15px;
  height: 80px;
  position: absolute;
  left: 386px;
  top: 35px;
}
#game-area #head {
  background: url(images/chalkboard_texture_mc2015_by_mattiamc_d8dbnac-fullview.jpg);
  width: 140px;
  height: 95px;
  position: absolute;
  left: 310px;
  top: 110px;
}
#game-area #body {
  background: url(images/chalkboard_texture_mc2015_by_mattiamc_d8dbnac-fullview.jpg);
  width: 15px;
  height: 110px;
  position: absolute;
  left: 387px;
  top: 205px;
}
#game-area #rightArm {
  background: url(images/chalkboard_texture_mc2015_by_mattiamc_d8dbnac-fullview.jpg);
  width: 75px;
  height: 75px;
  position: absolute;
  left: 402px;
  top: 200px;
}
#game-area #leftArm {
  background: url(images/chalkboard_texture_mc2015_by_mattiamc_d8dbnac-fullview.jpg);
  width: 75px;
  height: 75px;
  position: absolute;
  left: 312px;
  top: 200px;
}
#game-area #rightLeg {
  background: url(images/chalkboard_texture_mc2015_by_mattiamc_d8dbnac-fullview.jpg);
  width: 75px;
  height: 65px;
  position: absolute;
  left: 400px;
  top: 295px;
}
#game-area #leftLeg {
  background: url(images/chalkboard_texture_mc2015_by_mattiamc_d8dbnac-fullview.jpg);
  width: 75px;
  height: 65px;
  position: absolute;
  left: 316px;
  top: 295px;
}
#game-area .extra {
  background: url(images/chalkboard_texture_mc2015_by_mattiamc_d8dbnac-fullview.jpg);
  width: 85px;
  height: 85px;
  position: absolute;
  left: 219px;
  top: 50px;
}
#game-area img {
  position: absolute;
  left: 123px;
}
#game-area #lives {
  color: whitesmoke;
  font-size: 20px;
  font-family: chalkDusterFont;
}
#game-area #livesCounter {
  color: whitesmoke;
  font-size: 20px;
  font-family: chalkDusterFont;
}
#game-area .wordGuess {
  display: inline-block;
}
#game-area .wordGuess #wordSpaces {
  color: whitesmoke;
  font-family: chalkDusterFont;
  text-align: center;
  font-size: 32px;
  margin-right: 125px;
}
#game-area .wordGuess .whiteBottom {
  display: inline-block;
  border-bottom: 5px solid whitesmoke;
  width: 45px;
  border-radius: 5px;
  margin-right: 15px;
}

.hide {
  color: transparent;
}

.show {
  color: whitesmoke;
}

.crossOut {
  opacity: 0.3;
}

#gameOver {
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 0%;
  height: 0%;
  background: #ffe346;
  color: black;
  font-family: chalkDusterFont;
  font-size: 24px;
  border: 3px solid black;
  border-radius: 10px;
}

#restartButton {
  height: 40px;
  width: 100px;
  font-size: 18px;
  background: #ffe346;
  border: 2px solid black;
  border-radius: 10px;
  position: absolute;
  top: 10px;
  right: 10px;
}

button {
  height: 75px;
  width: 400px;
  font-size: 50px;
  background: #ffe346;
  position: absolute;
  top: 250px;
  border-radius: 10px;
  border: 2px solid black;
  font-family: chalkDusterFont;
}

#button:hover {
  cursor: pointer;
  text-decoration: underline;
  transform: scale(1.2);
  transition: 1s;
}

#rules {
  color: black;
  background: #f5df63;
  border: 2px solid black;
  text-align: left;
  line-height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  padding: 10px;
  font-size: 20px;
  margin: auto;
  width: 60vw;
  font-family: chalkDusterFont;
}
#rules h2 {
  text-decoration: underline;
  text-align: center;
  margin-bottom: 5px;
  font-family: chalkDusterFont;
}
#rules ul {
  list-style-type: none;
  margin-left: 20px;
}
#rules span {
  text-decoration: underline;
  font-weight: bold;
}

#alphabetKeyboard {
  margin-top: 100px;
}
#alphabetKeyboard .first-letter-containers {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}
#alphabetKeyboard .second-letter-containers {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}
#alphabetKeyboard .third-letter-containers {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}
#alphabetKeyboard #A {
  color: whitesmoke;
  font-family: chalkDusterFont;
  font-size: 32px;
  text-align: center;
  align-items: center;
  padding: 5px;
  margin-right: 15px;
}
#alphabetKeyboard #B {
  color: whitesmoke;
  font-family: chalkDusterFont;
  font-size: 32px;
  text-align: center;
  align-items: center;
  padding: 5px;
  margin-right: 15px;
}
#alphabetKeyboard #C {
  color: whitesmoke;
  font-family: chalkDusterFont;
  font-size: 32px;
  text-align: center;
  align-items: center;
  padding: 5px;
  margin-right: 15px;
}
#alphabetKeyboard #D {
  color: whitesmoke;
  font-family: chalkDusterFont;
  font-size: 32px;
  text-align: center;
  align-items: center;
  padding: 5px;
  margin-right: 15px;
}
#alphabetKeyboard #E {
  color: whitesmoke;
  font-family: chalkDusterFont;
  font-size: 32px;
  text-align: center;
  align-items: center;
  padding: 5px;
  margin-right: 15px;
}
#alphabetKeyboard #F {
  color: whitesmoke;
  font-family: chalkDusterFont;
  font-size: 32px;
  text-align: center;
  align-items: center;
  padding: 5px;
  margin-right: 15px;
}
#alphabetKeyboard #G {
  color: whitesmoke;
  font-family: chalkDusterFont;
  font-size: 32px;
  text-align: center;
  align-items: center;
  padding: 5px;
  margin-right: 15px;
}
#alphabetKeyboard #H {
  color: whitesmoke;
  font-family: chalkDusterFont;
  font-size: 32px;
  text-align: center;
  align-items: center;
  padding: 5px;
  margin-right: 15px;
}
#alphabetKeyboard #I {
  color: whitesmoke;
  font-family: chalkDusterFont;
  font-size: 32px;
  text-align: center;
  align-items: center;
  padding: 5px;
  margin-right: 15px;
}
#alphabetKeyboard #J {
  color: whitesmoke;
  font-family: chalkDusterFont;
  font-size: 32px;
  text-align: center;
  align-items: center;
  padding: 5px;
  margin-right: 15px;
}
#alphabetKeyboard #K {
  color: whitesmoke;
  font-family: chalkDusterFont;
  font-size: 32px;
  text-align: center;
  align-items: center;
  padding: 5px;
  margin-right: 15px;
}
#alphabetKeyboard #L {
  color: whitesmoke;
  font-family: chalkDusterFont;
  font-size: 32px;
  text-align: center;
  align-items: center;
  padding: 5px;
  margin-right: 15px;
}
#alphabetKeyboard #M {
  color: whitesmoke;
  font-family: chalkDusterFont;
  font-size: 32px;
  text-align: center;
  align-items: center;
  padding: 5px;
  margin-right: 15px;
}
#alphabetKeyboard #N {
  color: whitesmoke;
  font-family: chalkDusterFont;
  font-size: 32px;
  text-align: center;
  align-items: center;
  padding: 5px;
  margin-right: 15px;
}
#alphabetKeyboard #O {
  color: whitesmoke;
  font-family: chalkDusterFont;
  font-size: 32px;
  text-align: center;
  align-items: center;
  padding: 5px;
  margin-right: 15px;
}
#alphabetKeyboard #P {
  color: whitesmoke;
  font-family: chalkDusterFont;
  font-size: 32px;
  text-align: center;
  align-items: center;
  padding: 5px;
  margin-right: 15px;
}
#alphabetKeyboard #Q {
  color: whitesmoke;
  font-family: chalkDusterFont;
  font-size: 32px;
  text-align: center;
  align-items: center;
  padding: 5px;
  margin-right: 15px;
}
#alphabetKeyboard #R {
  color: whitesmoke;
  font-family: chalkDusterFont;
  font-size: 32px;
  text-align: center;
  align-items: center;
  padding: 5px;
  margin-right: 15px;
}
#alphabetKeyboard #S {
  color: whitesmoke;
  font-family: chalkDusterFont;
  font-size: 32px;
  text-align: center;
  align-items: center;
  padding: 5px;
  margin-right: 15px;
}
#alphabetKeyboard #T {
  color: whitesmoke;
  font-family: chalkDusterFont;
  font-size: 32px;
  text-align: center;
  align-items: center;
  padding: 5px;
  margin-right: 15px;
}
#alphabetKeyboard #U {
  color: whitesmoke;
  font-family: chalkDusterFont;
  font-size: 32px;
  text-align: center;
  align-items: center;
  padding: 5px;
  margin-right: 15px;
}
#alphabetKeyboard #V {
  color: whitesmoke;
  font-family: chalkDusterFont;
  font-size: 32px;
  text-align: center;
  align-items: center;
  padding: 5px;
  margin-right: 15px;
}
#alphabetKeyboard #W {
  color: whitesmoke;
  font-family: chalkDusterFont;
  font-size: 32px;
  text-align: center;
  align-items: center;
  padding: 5px;
  margin-right: 15px;
}
#alphabetKeyboard #X {
  color: whitesmoke;
  font-family: chalkDusterFont;
  font-size: 32px;
  text-align: center;
  align-items: center;
  padding: 5px;
  margin-right: 15px;
}
#alphabetKeyboard #Y {
  color: whitesmoke;
  font-family: chalkDusterFont;
  font-size: 32px;
  text-align: center;
  align-items: center;
  padding: 5px;
  margin-right: 15px;
}
#alphabetKeyboard #Z {
  color: whitesmoke;
  font-family: chalkDusterFont;
  font-size: 32px;
  text-align: center;
  align-items: center;
  padding: 5px;
  margin-right: 15px;
}

.letterBox:hover {
  cursor: pointer;
  transform: scale(1.3);
}

.hide {
  display: none;
}